.row
  .col-lg-5.col-lg-offset-3.well
    h2 Create new account

    form(method="post", action="/user/signup", role="form")
      fieldset
        legend=username
        .form-group
          label(for="username") Username:
          input.input-lg.form-control#username(type="text", name="username")
        .form-group
          label(for="password") Password (and repeat):
          input.input-lg.form-control#password(type="text", name="password1")
        .form-group
          input.input-lg.form-control#password2(type="text", name="password2")
          p.help-block Only secure password allowed.
        .form-actions
          input.btn.btn-success.btn-lg.btn-block(type="submit", value="Register me, I confirm this information")
