.jumbotron
  h2 {{demo.projectName}}

  p.lead
    | This example is a quick exercise to illustrate how the default, static navbar and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.

  p
    a.btn.btn-lg.btn-success(href="https://github.com/osminogin/express-coffee-seed", role="button") Fork me on GitHub »
    a.btn.btn-lg.btn-primary(href="https://github.com/osminogin/express-coffee-seed#readme", role="button") Read documentation »
