extends layout

block content

  .jumbotron(ng-controller="DemoController as demo")
    h1 Express Coffee Seed

    p This example is a quick exercise to illustrate how the default, static navbar and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>
    if user
      p Username: #{user.username}

    | {{ demo.field }}

    p
      a.btn.btn-lg.btn-primary(href='https://github.com/osminogin/express-coffee-seed#readme', role='button') Read documentation »
