doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  title Express CoffeeScript Project Seed
  meta(name='description', content='')
  meta(name='author', content='')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')

  link(rel='stylesheet', href='/vendor/bootstrap/dist/css/bootstrap.min.css')
  link(rel='stylesheet', href='/css/styles.css')

body(ng-app="myApp")

  .container

    .navbar.navbar-default(role='navigation', ng-controller='HeaderController')
      .container-fluid

        .navbar-header
          a.navbar-brand(href='/') Project name

        .collapse.navbar-collapse
          ul.nav.navbar-nav
            li(ng-class="{ active: isActive('/home')}")
              a(href='#/home') Home
            li(ng-class="{ active: isActive('/order')}")
              a(href='#/order') Orders
            li(ng-class="{ active: isActive('/private')}")
              a(href='/private') Private

          ul.nav.navbar-nav.navbar-right
            if user
              li
                a(href='/user/profile') Account:
                  | &nbsp;
                  strong #{user.username}
              li
                a(href='/user/logout') Logout
            else
              li
                a(href='/user/signup') Sign up
              li
                a(href='/user/login') Login

    .row
      .col-lg-offset-1.col-lg-10
        block content

        .ng-view

  script(type='text/javascript', src='/vendor/jquery/dist/jquery.min.js')
  script(type='text/javascript', src='/vendor/angular/angular.min.js')
  script(type='text/javascript', src='/vendor/angular-route/angular-route.min.js')
  script(type='text/javascript', src='/vendor/angular-resource/angular-resource.min.js')

  != js('app')
| </html>