doctype html
//if lt IE 7 ]><html class="ie ie6" lang="en">
//if IE 7 ]><html class="ie ie7" lang="en">
//if IE 8 ]><html class="ie ie8" lang="en">
// [if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]
head
  meta(charset='utf-8')
  title Express CoffeeScript Project Seed
  meta(name='description', content='')
  meta(name='author', content='')
  meta(name="viewport", content="width=device-width, initial-scale=1.0")

  link(rel='stylesheet', href='/vendor/bootstrap/dist/css/bootstrap.min.css')
  link(rel='stylesheet', href='/vendor/bootstrap/dist/css/bootstrap-theme.min.css')
  link(rel='stylesheet', href='/css/styles.css')

body
  .container

    .navbar.navbar-default(role='navigation')
      .container-fluid

        .navbar-header
          a.navbar-brand(href='/') Project name

        .collapse.navbar-collapse
          ul.nav.navbar-nav
            li.active
              a(href='#') Home
            li
              a(href='/private') Private

          ul.nav.navbar-nav.navbar-right
            if user
              li
                a(href='/user/logout') Logout
            else
              li.active
                a(href='/user/signup') Signup
              li
                a(href='/user/login') Login

    block content

  script(type='text/javascript', src='/vendor/jquery/dist/jquery.min.js')
  script(type='text/javascript', src='/vendor/bootstrap/dist/css/bootstrap.min.js')
  script(type='text/javascript', src='/vendor/angular/angular.min.js')

| </html>