extends ../layout

block content

  h2 Login form

  form(method="post", action="/user/login", role="form")
    fieldset
      legend=username
      .form-group
        label(for="username") Username:
        .input
          input.input-lg#username(type="text", name="username")
      .form-group
        label(for="password") Password:
        .input
          input.input-lg#password(type="text", name="password")
      .form-group
        input.btn.btn-lg.btn-primary(type="submit", value="Login")
