extends ../layout

block content

  h2 Create account

  form(method="post", action="/user/signup", role="form")
    fieldset
      legend=username
      .form-group
        label(for="username") Username:
        .input
          input.input-lg#username(type="text", name="username")
      .form-group
        label(for="password") Password:
        .input
          input.input-lg#password1(type="text", name="password1")
      .form-group
        label(for="password") Repeat password:
        .input
          input.input-lg#password2(type="text", name="password2")
      .form-actions.form-group
        input.btn.btn-success.btn-lg(type="submit", value="Register")
