<div class="jumbotron">
  <h2>{{demo.projectName}}</h2>

  <p class="lead">This example is a quick exercise to illustrate how the default, static navbar and fixed to top navbar work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>

  <p>
      <a href="https://github.com/osminogin/express-coffee-seed" role="button" class="btn btn-lg btn-success">Fork me on GitHub »</a>
      <a href="https://github.com/osminogin/express-coffee-seed#readme" role="button" class="btn btn-lg btn-primary">Read documentation »</a>
  </p>
</div>